h2 {
    font: var(--h2);
    color: var(--color-title);
}

fieldset {
    border: none;
    display: grid;
    gap: 1rem;
}

.legend {
    display: flex;
    align-items: center;
    gap: .75rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}

.legend img {
    width: 1.5rem;
    height: 1.5rem;
}

.legend legend {
    font: var(--h3);
    color: var(--color-title);
}

.border-line {
    border-bottom: 1px solid var(--input-stroke);
    margin-block: 3rem;
}