input, textarea {
    appearance: none;
    background-color: var(--input-base);
    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);
    border-radius: .5rem;
    padding: 1rem;
    width: 100%;
    color: var(--color-text);
}

input::placeholder, textarea::placeholder {
    color: var(--input-placeholder);
}

#type {
    height: 3rem;
}

label {
    font: var(--text-sm);
    color: var(--color-text);
    display: inline-block;
    margin-bottom: .75rem;
}

input:focus-within, textarea:focus-within {
    outline: 1px solid var(--brand-light);
    border: 2px solid transparent;
}

input[type="text"] {

    &:invalid {
        border: 1px solid var(--danger);
    }

    &[required] + .error {

        display: flex;
        align-items: center;
        gap: .5rem;
        margin-top: .5rem;
        
        img {
            width: 1rem;
            height: fit-content;
        }

        span {
            font: var(--text-xs);
            color: var(--danger);
        }
    }

    &:valid + .error {
        display: none;
    }
}